/* You can add global styles to this file, and also import other style files */
body{
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    // min-height: 600px; 
}
html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
  }
  .container{
  min-height: 80vh;
    height: auto;
  }

.err{
    color: red;
}
.container{
    background-color: #4e4a3d59 !important;
}